
// Tabelle
#modulsammlung {
  table {
    margin: 0;
    thead {
      border: none;
    }
    tbody {
      border: none;
    }
    .td_title {
      width: 100%;
    }
  }

}

#modulsammlung {
  .rex-nav-pagination {
    font-size: 10px;
    padding: 10px;
    ul {
      font-size: 10px;
      li {
        a {
          padding: 6px 8px 6px 8px;
        }
      }
    }
  }
}

.accordiontitle {
  font-weight: bold;
  margin: 10px 0 0 0;
  font-size: 11px;
  padding: 3px 0 3px 15px;
  width: 100%;
  background: #ccc;
}
