
// Tabelle
#modulsammlung {

  table {
    margin: 0;
    thead {
      border: none;
    }
    tbody {
      border: none;
    }

  .td_title {
    width: 100%;
  }

  }

}

#modulsammlung {
  .rex-nav-pagination {
    font-size: 10px;
    padding: 10px;
    ul {
      font-size: 10px;
        li {
          a {
            padding: 6px 8px 6px 8px;
          }
        }
    }
  }

}
